.about {
  text-align: left;
  margin: -150px 100px 0px 300px;
  font-family: 'Verdana';
  font-size: 18px;
}

.thankyou {
  text-align: center;
  margin: -150px 120px 17px 300px;
  font-family: 'Verdana';
  font-size: 28px;
}
