.socialMediaIconsList li {
  text-align: center;
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }

  .socialMediaIconsList li a {
  border-bottom: none;
  }

.socialMediaIconsList li {
  width:30px;
  height:30px;
  margin-right: 20px;
}

.facebook {
  background: url(../images/FacebookIcon.svg) no-repeat center;
}

.facebook:hover {
  opacity: .5;
}

.linkedIn {
  background: url(../images/LinkedInIcon.svg) no-repeat center;
}

.linkedIn:hover {
  opacity: .5;
}

.instagram {
  background: url(../images/InstaIcon.svg) no-repeat center;
}

.instagram:hover {
  opacity: .5;
}

.textInput {
  height: 200px;
  width: 500px;
  resize: none;
  margin: -210px 0px 0px -35px;
}

#formButton {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin-right: 15px;
}

#formButton:hover {
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

#formButton:active {
  position:relative;
	top:1px;
}
